
.header-container {
    display: flex;
    justify-content: space-between;
    max-width: 1150px;
    margin: 0 auto;
    padding: 0 2em 0 2em;
    height: 120px;
    align-items: center;
}


.full-width-container {
    border-bottom: 2px solid var(--neutral-325);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: whitesmoke;
    width: 100vw;
}

.link-button-container {
    display: flex;
    padding-top: 1rem;
    flex-direction: row;
}


.headerlink {
    margin: .4rem;
    fill: var(--info-675);
}

@media (max-width: 575px) {
    .link-button-container {
        padding-top: .6em;
        flex-direction: column;
    }
    .headerlink {
        margin: .2rem;
    }    
}

@media (max-width: 520px) {
    .header-text {
        font-size: 2.9em;
    }
}

@media (max-width: 480px) {
    .header-text {
        font-size: 2.3em;
    }
}