.story-card {
    display: flex;
    justify-content: space-between;
    min-height: 160px;
}

.story-card-thumbnail {
    width: 150px;
    height: 150px;
}

.story-card-byline {
    font-size: 1em;
}