.story-filter-container {
    display: flex;
    /* border-bottom: 2px solid var(--neutral-325); */
}

.filter-divider {
    margin-top: 1.5em;
}

.filter-chip {
    text-transform: uppercase;
}

@media (max-width: 500px) {
    .filter-chip {
        padding: .5em 1em;
        font-size: .7em;
    }
}