.title-card-divider {
    margin: 4em 0 4em 0;
}

.title-card-header {
    font-size: 4em;
}

.title-card-text {
    font-size: 2em;
}

@media (max-width: 900px) {
    .title-card-header {
        font-size: 3em;
    }
    .title-card-text {
        font-size: 1.5em;
    }
}

@media (max-width: 500px) {
    .title-card-text {
        font-size: 1.2em;
    }
    .title-card-divider {
        margin: 2em 0 1em 0;
    }
    
}